<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&family=Roboto&display=swap" rel="stylesheet">
        <title>Evaluate</title>
    </head>

    <body>
        <main>
            <div class="container">
                <header>
                    <div class="">
                        <img alt="Evaluate Logo" id="logo">
                    </div>
                </header>
    
                <section>
                    <div>
                        <h1>
                            Evaluate a News article using Natural Language Processing
                        </h1>
                    </div>
                    <form class="" onsubmit="return Client.handleSubmit(event)">
                        <input id="name" type="text" name="input" value="" placeholder="Enter a URL">
                        <small class="error">* Insert a valid URL</small>

                        <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    </form>
                </section>
    
                <section class="results">
                    <h2>Analysis Result</h2>
                    <div id="results">
                        <p>URL analysed : <span id="url"></span></p>
                        <p>The confidence level is <span id="confidence"></span>% and there is a tone of <span id="agreement"></span> in this article. The article is <span id="irony"></span> and <span id="subjective"></span></p>
                    </div>
                </section>

                <section id="error" class="handle-error">
                    <p><span>uh-oh!</span><br>
                    Something blew up!! <br>
                    Confrim that the URL is correct and if it is, try again or try some other URL.</p>
                    <div></div>
                </section>

                
                <footer>
                    <p>	&#169; Goodness Obi for Udacity, 2021.</p>
                </footer>
            </div>
        </main>
        <aside></aside>

    </body>
</html>
