<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&family=Roboto&display=swap" rel="stylesheet">
        <title>Evaluate</title>
    </head>

    <body>
        <main>
            <div class="container">
                <header>
                    <div class="">
                        <img alt="Evaluate Logo" id="logo">
                    </div>
                </header>
    
                <section>
                    <div>
                        <p>
                            Evaluate a News article using Natural Language Processing
                        </p>
                    </div>
                    <form class="" onsubmit="return Client.handleSubmit(event)">
                        <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter a URL">
                        <!-- <small class="error">Insert a valid URL</small> -->

                        <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    </form>
                </section>
    
                <section>
                    <strong>Form Results:</strong>
                    <div id="results"></div>
                </section>
            </div>

            <footer>
                <p>	&#169; Goodness Obi for Udacity, 2021.</p>
            </footer>
        </main>

        <aside></aside>

    </body>
</html>
