<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>
        <main>
            <div class="container">
                <header>
                    <div class="">
                        <img src="./images/Logo.png" alt="Evaluate Logo">
                    </div>
                </header>
    
                <section>
                    <div>
                        <p>
                            Evaluate a News article using Natural Language Processing
                        </p>
                    </div>
                    <form class="" onsubmit="return Client.handleSubmit(event)">
                        <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter a URL">
                        <small>URL shoule be unauthenticated - http://...</small>

                        <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    </form>
                </section>
    
                <section>
                    <strong>Form Results:</strong>
                    <div id="results"></div>
                </section>
            </div>

            <footer>
                <p>	&#169; Goodness Obi for Udacity, 2021.</p>
            </footer>
        </main>

        <aside></aside>

    </body>
</html>
