$secondary-font: 'Raleway', sans-serif;

section {
  &.results {
      visibility: hidden;
      opacity: 0;

      &.fadeIn {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s linear 0s, opacity 400ms;
      }

      h2 {
          font-family: $secondary-font;
          font-weight: 800;
          padding-bottom: 10px;
          font-size: 20px;
          color: #17334C;
      }

      span {
          color: #773333;
      }

      p {
          padding: 5px 0;
      }
  }
}